/**B"H*/
.index-main {
    display: flex;
    flex-direction: column;
}

.all {
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
}
.index-main {
    display: flex;
    flex-direction: column;
}
.index-tabs {
    display: flex;
    font-family: sans-serif;
    padding: 10px 3px;
    margin-top: 30px;
    flex-direction: row;
    gap: 15px;
}

.index-tabs .tab.active {
    font-weight: bold;
    border-bottom: solid;
    color:black;
}
.index-tabs .tab {

    color:#a5a5a5
}

.index-tabs .tab:hover {
    cursor:pointer;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    flex-direction: row;
}

.main-section .tile {
    min-width: 40px;
    height: 40px;
    padding: 10px;
    margin: 5px;
    display: flex;
    font-family: 'Noto Serif Hebrew', serif;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    cursor: pointer;
}

.main-section .tile:hover {
    background-color:#ededec;
    transform: scale(1.1);
}

.main-section .tile:active  {
    transform: scale(1); 
}

