/**B"H*/
.all {
    background:cyan;
    display:flex;
    flex-direction:column;
}
.title {
    color: #564c40;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Antic Didone, sans-serif;
    font-size: 70px;
    font-weight: 400;
}




.year-title {
    margin-top: calc(var(---header-height) + 60px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.year-title a {
    color: revert;
    text-decoration: revert;
}


.year-header {
    font-size: 28px;
}

.tabSwitcher {
    opacity: 1;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 17px;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 10px;
    display: flex;
}

.tabSwitcher .tablink {
    width: 150px;
    grid-column-gap: 12px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    font-weight: 600;
    display: flex;
    color: #4d4d4d;
    vertical-align: top;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    position:relative;
}

.active-tablink {
    transition:transform .5s ease;
    z-index: 0;
    grid-column-gap: 12px;
    background-color: #b2c6a5;
    border-radius: 10px;
    flex-direction: row;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.inner-tab {
    color: #464646;
    flex: 0 auto;
    font-family: Antic Didone, sans-serif;
    font-size: 20px;
    position: relative;

}

/*   */