<!--B"H-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
<header class="header">
    <div class="left">
      <div class="logo">Dach | דא״ח</div>
      <div class="menu-item">Community</div>
      <div class="menu-item">Texts</div>
    </div>
    <div class="right">
      <div class="menu-btn">א</div>
      <div class="menu-btn">Log in</div>
    </div>
  </header>
<div class="book_vol_index">
    <div class="tile-grid" id="tileGrid">
       <div class="tile">א</div>
       <div class="tile">ב</div>
       <div class="tile">ג</div>
       <div class="tile">ד</div>
       <div class="tile">ה</div>
       <div class="tile">ו</div>
       <div class="tile">ז</div>
       <div class="tile">ח</div>
       <div class="tile">ט</div>
       <div class="tile">י</div>
       <div class="tile">יא</div>
       <div class="tile">יב</div>
       <div class="tile">יג</div>
       <div class="tile">יד</div>
       <div class="tile">טו</div>
       <div class="tile">טז</div>
       <div class="tile">יז</div>
       <div class="tile">יח</div>
       <div class="tile">יט</div>
       <div class="tile">כ</div>
       <div class="tile">כא</div>
       <div class="tile">כב</div>
       <div class="tile">כג</div>
       <div class="tile">כד</div>
       <div class="tile">כה</div>
       <div class="tile">כו</div>
       <div class="tile">כז</div>
       <div class="tile">כח</div>
       <div class="tile">כט</div>
       <div class="tile">ל</div>
       <div class="tile">לא</div>
       <div class="tile">לב</div>
       <div class="tile">לג</div>
       <div class="tile">לד</div>
       <div class="tile">לה</div>
       <div class="tile">לו</div>
       <div class="tile">לז</div>
       <div class="tile">לח</div>
       <div class="tile">לט</div>
    </div>
 </div>
 </body>
 </html>