<!--B"H-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <script src="/scripts/installEved.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <link rel="stylesheet" href="/style.css">
  <title>Dach | דא״ח</title>
  <style>
    body {
      
    }
    
  </style>
</head>
<body>
    <header class="header">
        <div class="left">
          <div class="logo"><a href="/">Dach | דא״ח</a></div>
         
        </div>
      </header>
  <div class="container">
    
    <div class="loader"></div>
  </div>
  
<script src="/scripts/login.js" type="module"></script>
<script type="module">
   import indexer from "/scripts/indexify.js" 
   
  var p = location.pathname.split("/");
  var ls = p[p.length-1];
   await indexer({
    containerSelector: ".container",
    url: "/meluket/view/"+ls+"/",
    volumeNumber:ls,
    databasePath: ["books","Meluket","TOC_VOL"]
   })
</script>
</body>
</html>