/**B"H*/
/* B"H */
/* @stylesheet Main styles for the Dach application */

/* Form styling for editSecrets */
.p-open {
  background-color: #ffb6b6; /* Light red for opening <p> */
}
.p-close {
  background-color: #b6ffb6; /* Light green for closing </p> */
}

.p-open::after,
.p-close::after {
  content: "\A"; /* Adds newline after tags */
  white-space: pre;
}

.p-close::before {
  content:"\A";
  white-space:pre
}

.specialInputs .config {
  display: flex;
  flex-direction: row;
}
