<!--B"H-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <link rel="stylesheet" href="/style.css">
  <title>Your Page Title</title>
  <style>
    body {
      
    }
    
  </style>
</head>
<body>
    <header class="header">
        <div class="left">
          <div class="logo">Dach | דא״ח</div>
          <div class="menu-item">Community</div>
          <div class="menu-item">Texts</div>
        </div>
        <div class="right">
          <div class="menu-btn">א</div>
          <div class="menu-btn loginBtn">Log in</div>
        </div>
      </header>
  <div class="container">
    
    <div class="loader"></div>
  </div>
  
<script src="/scripts/login.js" type="module"></script>
<script type="module">
   import indexer from "/scripts/indexify.js" 
   
  var p = location.pathname.split("/");
  var ls = p[p.length-1];
   await indexer({
    containerSelector: ".container",
    url: "/viewer/meluket/",
    volumeNumber:ls,
    databasePath: ["books","Meluket","TOC_VOL"]
   })
</script>
</body>
</html>